.card .card-course-item {
  margin-top: 16px;
}

.btn .btn-primary {
  padding-top: 16px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  margin-right: 4px;
  object-fit: cover;
}

.navbar {
  height: 40px;
  display: flex;
  align-items: center;
}

.checkbox-select-all-options {
  width: 120px;
}