<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Biarea Education</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://yt3.ggpht.com/L4Ct2TewjTBOV1ohrBf1-yFzRfVlxgP4XeKgjKdATj31lfLm4vLNMNgvxUzQitQJ0e-94W9oaA=s88-c-k-c0x00ffffff-no-rj" alt="" class="user-avatar rounded-circle">
            Duc Nguyen
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/courses/create">Đăng khoá học</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Bài viết của tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul> <!-- Thêm thẻ đóng <ul> -->
    </div>
  </div>
</nav>
