<div class="mt-10">
    <form method="POST" action="">
  <div class="mb-3">
    
    <label for="exampleInputPassword1" class="form-label">nhap tu khoa</label>
    <input type="password" name= "q" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
  </div>
  <button type="submit" class="btn btn-primary">tim kiem</button>
</form>
</div>
